<template name="postItem">
  <div class="post">
    {{#if currentUser}}
	   <a href="#" class="upvote btn btn-default {{upvotedClass}}">{{voteArrow}}</a>
    {{/if}}

    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>

      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        {{submitDate}}
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
      <p>{{message}}</p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>
